{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": ["import", "prettier"],
  "globals": {
    "CAFE24API": "readonly",
    "HN_CONFIG_PATH": "readonly",
    "HN_STORAGE_PATH": "readonly"
  },
  "rules": {
    "import/exports-last": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "import/no-useless-path-segments": [
      "error",
      {
        "noUselessIndex": true
      }
    ],
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "alias": [["@", "./src"]]
    }
  }
}
